<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp API Endpoint</h1>
         <h3>How to use:</h3>
         <p>
           After the url enter either a Unix Tiemstamp or a natural date. Such as the following:
           <ul>
             <li>/December 15, 2017</li>
             <li>/1513260000</li>
           </ul>
           If the date entered is valid, it returns the Unix Timestamp and natural form.<br/>
           If no valid date is entered, it returns null.
         </p>
      </div>
   </body>

</html>
